/* GENERAL STYLES */
:root {
  --X-color: #31c3bd;
  --X-lighter-color: #65e9e4;
  --Y-color: #f2b137;
  --Y-lighter-color: #ffc860;
  --bgc-color: #1a2a33;
  --element-color: #1f3641;
  --text-color: #dbe8ed;
  --darker-text-color: #a8bfc9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bgc-color);
  overflow-y: hidden;
}
/* ANIMATION */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidde {
  display: none !important;
}

/* NEW GAME SECTION */
.new-game,
.game-board-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  max-width: 46rem;
  animation: fadeIn 1s ease-in-out;
}

.logo {
  padding-bottom: 3rem;
}

.choose-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2.4rem;
  border-radius: 20px;
  background-color: var(--element-color);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(26, 33, 39, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(26, 33, 39, 1);
  box-shadow: 0px 8px 0px 0px rgba(26, 33, 39, 1);
}

.choose-headband {
  color: var(--text-color);
  font-size: 1.8rem;
  letter-spacing: 1.25px;
}

.player-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  margin: 2.4rem 0 1.7rem 0;
  padding: 0.9rem 0.8rem;
  background-color: var(--bgc-color);
  border-radius: 1rem;
  height: 7rem;
}

.game-start__x-mark,
.game-start__o-mark {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.game-start__x-mark:hover,
.game-start__o-mark:hover {
  background-color: var(--element-color);
  cursor: pointer;
}
.game-start__x-mark.selected,
.game-start__o-mark.selected {
  background-color: var(--darker-text-color);
}

.game-start__x-mark.selected > svg,
.game-start__o-mark.selected > svg {
  fill: #1a2a33;
}

.game-start__x-icon,
.game-start__o-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--darker-text-color);
}

.x-plater,
.o-plater {
  height: 7rem;
}

.choose-player path {
  fill: var(--darker-text-color);
  width: 2px;
  height: 2px;
}

.choos-foote-text {
  color: #d9d9d9;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.vs-cpu-btn {
  letter-spacing: 1.25px;
  margin-top: 3.8rem;
  background-color: var(--Y-color);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(194, 147, 56, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(194, 147, 56, 1);
  box-shadow: 0px 8px 0px 0px rgba(194, 147, 56, 1);
}

.vs-cpu-btn:hover {
  cursor: pointer;
  background-color: var(--Y-lighter-color);
  transition: all 0.3s;
}

.vs-player-btn {
  letter-spacing: 1.25px;
  margin-top: 2.6rem;
  background-color: var(--X-color);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(49, 134, 130, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(49, 134, 130, 1);
  box-shadow: 0px 8px 0px 0px rgba(49, 134, 130, 1);
}

.vs-player-btn:hover {
  cursor: pointer;
  background-color: var(--X-lighter-color);
  transition: all 0.3s;
}

.vs-cpu-btn,
.vs-player-btn {
  border: none;
  font-family: inherit;
  color: var(--bgc-color);
  font-size: 1.8rem;
  font-weight: 650;
  min-width: 100%;
  padding: 1.2rem 0;
  border-radius: 14px;
}

/* GAME BOARD SECTION */
.game-board-section {
  gap: 2rem;
}

.game-board-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8rem;
  min-width: 100%;
}

.gameplay__turn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14rem;
  gap: 1rem;
  background-color: #1f3641;
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 -0.4rem 0 #0f191e;
  margin-left: -2rem;
}

.gamplay__turn-icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: #a8bfc9;
}

.gamplay__turn__text {
  font-size: 1.8rem;
  color: var(--darker-text-color);
  font-weight: 600;
}

.reset-game {
  padding: 1rem 1.4rem;
  border-radius: 9px;
  border: none;
  background-color: var(--darker-text-color);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(123, 146, 148, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(123, 146, 148, 1);
  box-shadow: 0px 4px 0px 0px rgba(123, 146, 148, 1);
}

.reset-game:hover {
  cursor: pointer;
  background-color: var(--text-color);
  transition: all 0.3s;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 100%;
  row-gap: 3rem;
  column-gap: 2rem;
}

.board-box {
  background-color: var(--element-color);
  height: 14rem;
  width: 14rem;
  border-radius: 19px;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(26, 33, 39, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(26, 33, 39, 1);
  box-shadow: 0px 8px 0px 0px rgba(26, 33, 39, 1);
  /* box-shadow: inset 0 -0.5rem 0 #0f191e; */
}

.board-X:hover {
  cursor: pointer;
  background-image: url(/assets/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.board-O:hover {
  cursor: pointer;
  background-image: url(/assets/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.selected-by-X {
  background-image: url(/assets/icon-x.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.board-box.selected-by-X:hover {
  cursor: default;
  background-image: url(/assets/icon-x.svg);
}

.selected-by-O {
  background-image: url(/assets/icon-o.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.board-box.selected-by-O:hover {
  cursor: default;
  background-image: url(/assets/icon-o.svg);
}

.game-board-footer {
  display: flex;
  gap: 2rem;
}

.X-point-counter,
.ties-counter,
.O-point-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bgc-color);
  min-width: 14rem;
  margin-top: 1rem;
  padding: 1.4rem 0;
  font-size: 1.6rem;
  letter-spacing: 1px;
  border-radius: 16px;
}

.X-point-counter {
  background-color: var(--X-color);
}

.ties-counter {
  background-color: var(--darker-text-color);
}

.O-point-counter {
  background-color: var(--Y-color);
}

.counter {
  color: var(--bgc-color);
  font-size: 2rem;
  letter-spacing: 1.25px;
  font-weight: 700;
}

/* Modal Window */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 5;
}

.modal-winner-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  padding: 4rem 0;
  min-width: 100%;
  z-index: 10;
  background-color: var(--element-color);
  /* transform: translateY(-50%); */
  animation: fadeIn 0.4s ease-in-out;
}

.modal__winner-text {
  font-size: 2rem;
  letter-spacing: 1.25px;
  font-weight: 550;
  color: var(--text-color);
  margin-top: 1rem;
}

.modal__header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modal__winner__icon {
  height: 8.6rem;
  width: 8.6rem;
}

.modal__header__text {
  font-size: 4rem;
  letter-spacing: 2.5px;
  font-weight: 700;
}

.X__win__text {
  color: var(--X-color);
}
.O__win__text {
  color: var(--Y-color);
}

.modal__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn__left,
.btn__right {
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--bgc-color);
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: 1px;
  padding: 1.2rem 1.6rem;
  border-radius: 11px;
}

.btn__left {
  background-color: var(--darker-text-color);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(123, 146, 148, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(123, 146, 148, 1);
  box-shadow: 0px 4px 0px 0px rgba(123, 146, 148, 1);
}

.btn__left:hover {
  background-color: var(--text-color);
  transition: all 0.3s;
}

.btn__right {
  background-color: var(--Y-color);
  -webkit-box-shadow: 0px 6px 0px 0px rgba(194, 147, 56, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(194, 147, 56, 1);
  box-shadow: 0px 4px 0px 0px rgba(194, 147, 56, 1);
}

.btn__right:hover {
  background-color: var(--Y-lighter-color);
  transition: all 0.3s;
}

.restart__text {
  color: var(--darker-text-color);
  margin-bottom: 2rem;
}

.block-event {
  pointer-events: none;
}

.win-X {
  cursor: not-allowed !important;
  background-color: var(--X-color);
  padding: 3.8rem;
}

.win-X::before {
  content: url(/assets/icon-x-win-board.svg);
}

.win-O {
  cursor: not-allowed !important;
  background-color: var(--Y-color);
  padding: 3.8rem;
}

.win-O::before {
  content: url(/assets/icon-o-win-board.svg);
}
